body {
	height: 640px;
	width: 1200px;
	background-image: url(../images/pokemon_arena.png);
}
.col-md-12 {
	text-align: center;
	height: 150px;
	font-size: 1.5em;
}
.col-md-6 {
	font-size: 1.5em;
}
.logo {
	width: 250px;
}
h1 {
	font-family: Arial, sans-serif;
	font-size: 3em;
	color: rgb(50,100,255);
	position: relative;
	top: -30px;
	margin-top: 10px;
	margin-bottom: 30px;
}
#attacker {
	text-align: center;
}
#defender {
	text-align: center;
}
.character {
	background-color: white;
	width: 100px;
	border-radius: 100px;
	border: 1px solid black;
	box-shadow: 0 0 0 10px red;
	/*margin: 20px;*/
}
.profile{
	float: left;
	margin: 5px;
	width: 200px;
	height: 128px;
}
.name {
	position: relative;
	top: 5px;
}
.hp{
	width: 50px;
	height: 50px;
	background-color: white;
	border: 10px solid red;
	border-radius: 100px;
	z-index: 1;
	float: left;
	position: relative;
	top: 60px;
	left: 20px;
}
.attack{
	width: 50px;
	height: 50px;
	background-color: white;
	border: 10px solid red;
	border-radius: 100px;
	float: right;
	z-index: 1;
	position: relative;
	top: 60px;
	left: -20px;
}