body {
	height: 640px;
	width: 1200px;
	background-image: url(../images/pokemon_arena.png);
	background-repeat: no-repeat;
	background-color: black;
}
.col-md-12 {
	text-align: center;
	height: 180px;
	font-size: 1.5em;
}
.col-md-4 {
	font-size: 1.5em;
	text-align: center;
}
.logo {
	width: 200px;
}
h1 {
	font-family: Arial, sans-serif;
	font-size: 2.5em;
	color: rgb(50,100,255);
	text-shadow: -4px 1px rgb(50,50,100);
	position: relative;
	top: -30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	font-family: Arial, sans-serif;
	color: white;
	text-shadow: 1px 1px black;
}
#console {
	width: 245px;
	height: 100px;
	border-radius: 20px;
	background-color: rgba(0,0,0,.5);
	padding: 10px;
	box-sizing: border-box;
	font-size: .5em;
	font-family: arial, sans-serif;
	color: white;
	text-align: left;
	word-wrap: break-word;
	overflow: scroll;
	margin: auto;
}
.name {
	position: relative;
	top: 5px;
	font-family: arial, sans-serif;
	color: white;
	text-shadow: 1px 1px black;
}
.character {
	background-color: white;
	width: 90px;
	border-radius: 100px;
	border: 1px solid black;
}
.Bulbasaur {
	box-shadow: 0 0 0 10px green;
}
.Charmander {
	box-shadow: 0 0 0 10px red;
}
.Pikachu {
	box-shadow: 0 0 0 10px yellow;
}
.Squirtle {
	box-shadow: 0 0 0 10px lightblue;
}
.profile{
	float: left;
	margin: 5px;
	width: 200px;
	height: 128px;
}
.hp {
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 100px;
	z-index: 2;
	float: right;
	position: relative;
	top: 65px;
	left: -20px;
}
.attack {
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 100px;
	float: left;
	z-index: 2;
	position: relative;
	top: 65px;
	left: 20px;
}
span {
	font-family: arial, sans-serif;
	position: relative;
	top: 8px;
	left: -1px;
}
#attackButton {
	margin: 10px;
	background-color: red;
	border-radius: 20px;
	color: white;
}
#resetButton {
	margin: 10px;
	background-color: blue;
	border-radius: 20px;
	color: white;
}
